<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light shadow-3 p-4">
            <ul>
                <li><a class="btn btn-link btn-block border-bottom m-0" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Main</a></li>
                <li><a class="btn btn-link btn-block border-bottom m-0" routerLink="/sensors" routerLinkActive="active-link">Sensors</a></li>
                <li><a class="btn btn-link btn-block border-bottom m-0" routerLink="/schedule" routerLinkActive="active-link">Schedule</a></li>
                <li><a class="btn btn-link btn-block m-0" routerLink="/history" routerLinkActive="active-link">History</a></li>
            </ul>
        </div>
    </div>
    <div class="content"><router-outlet></router-outlet></div>
    <div class="footer">
        <p>&copy; Wojciech Sznapka 2022</p>
    </div>
</div>
